.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 75%;
  margin: 0 12%;
  align-items: center;
  background: rgb(180, 198, 238);
  font-weight: bold;
}

.form input {
  margin: 2% 0;
}

.form button {
  margin: 2% 0;
}

.form label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card{
  width: 40%;
  margin: 2%;
  padding: 2%;
  background: rgb(187, 238, 174)
}